.chat-main
  .main__header
    .left-box
      .header__group_name
        = @group.name
      .header__member_names
        MEMBER:
        - @group.users.each do |user|
          = user.name

    .edit
      = link_to edit_group_path(@group), class: "edit__btn" do
        Edit

  .messages__main
    = render @messages

  .form    
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-place', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'textbox'
      = f.submit 'Send', class: 'send__btn'

-# <i class="far fa-image"></i>

-# <i class="fas fa-image"></i>