.side-bar
  .header
    %h3.header__name
      = current_user.name
    %ul.header__lists
      %li.header__lists__edit
        = link_to new_group_path, class: "header__btn" do
          = icon('fa','edit')
      %li.header__lists__setting
        = link_to edit_user_path(current_user), class: "header__btn" do
          = icon('fa', 'cog')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message

